{% liquid
  assign enable_rtl = settings.enable_rtl
  assign language_support_rtl = settings.language_support_rtl
  if enable_rtl and language_support_rtl != blank
    assign shop_locale = localization.language.iso_code
    assign language_support_rtl_list = language_support_rtl | split: ','
    assign is_rtl = language_support_rtl_list | where: shop_locale
    if is_rtl.size > 0
      assign enable_rtl = true
    else
      assign enable_rtl = false
    endif
  endif
%}

<!doctype html>
<html
    class="no-js supports-no-cookies"
    lang="{{ shop.locale }}"
    style="--sf-page-opacity: 0;"
    {% if enable_rtl %}
      dir="rtl"
    {% endif %}
>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	<meta name="theme-color" content="{{ settings.color_primary }}">
    
  {%- liquid
    render 'preload'
    render 'SEO'
    render 'social-meta-tags'
    render 'font-face'
  -%}

  {% render 'critical-css' %}
  {% render 'critical-scripts' %}
  {% render 'style-tags' %}
  {% render 'custom-code-head' %}

  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ 'chunk.css' | asset_url | stylesheet_tag }}

  <script defer src="{{ 'theme-global.js' | asset_url }}"></script>
  <script defer src="{{ 'product-form.min.js' | asset_url }}"></script>
  <script defer src="{{ 'lazy-image.min.js' | asset_url }}"></script>

  {{ content_for_header }}
  {% style %}
    .sf__newsleter-form  input,
    .sf__password-form input {
      margin: 0;
    }
  {% endstyle %}
</head>
<body
    class="template-{{ template.name | handle }} relative min-h-screen"
>
    <div class="hidden">{% section 'header' %}</div>
    <main role="main" id="MainContent" style="padding-top: 0 !important;">
        {{ content_for_layout }}
    </main>
    {% render 'custom-code-body' %}
    {% render 'foxkit-messenger' %}
    {% render 'script-tags' %}
    <script defer src="{{ 'app.min.js' | asset_url }}"></script>
    <script defer src="{{ 'foxkit-app.min.js' | asset_url }}"></script>

    {% if settings.show_quickview_button %}
      <script defer src="{{ 'quick-view.min.js' | asset_url }}"></script>
    {% endif %}
    {% if settings.show_swatch_option %}
      <script defer src="{{ 'product-card-swatch.min.js' | asset_url }}"></script>
    {% endif %}
</body>
</html>
